@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700');


// GENERAL.SCSS
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

    a,
    button {
        text-decoration: none;
        cursor: pointer;
    }

    img {
        border-radius: 10px;
    }
}

iframe {
    width: 50%;
    height: 250px;
}

span {
    transition: all 0.5s ease-in-out;
    color: #FFAC61;
}

span:hover {
    transform: scale(1.5);
    transition: all 0.5s ease-in-out;
    color: #FFAC614D;
    font-size: 45px;
}

#arrow1 {
    height: 250vh;
    background-color: yellow;
}

/*-------LightDark-----*/

.App {
    min-width: 350px;
    max-width: 1440px;
    margin: 0 auto;
    padding: 10px;
    font-family: Amatic SC;

    button {
        background-color: #FF6E85;
        border-style: none;
        border-radius: 5px;
        width: 100px;
        color: white;
    }
}

/*-------HEADER--------*/

.headerContainer {
    text-align: center;
    padding: 40px;
    width: 100%;
    margin-top: 10%;

    img {
        transition: all 0.5s ease-in-out;

        &:hover {
            transform: scale(1.1);
            transition: all 0.5s ease-in-out;
        }
    }

    h1 {
        color: #FF6E86;
        font-size: 40px;
        font-size: 3.5rem;
        padding: 10px;
    }

    form {

        input[type="search"] {
            // padding: 5px 5px;
            padding: 10px;
            margin: 20px;
            width: 30%;
            border-radius: 5px;
            color: #FF6E86;
            background-color: #FFAC614D;
            border-color: transparent;
            margin-bottom: 135px;
        }

        button {
            // padding: 5px;
            padding: 10px;
            width: 100px;
            border-radius: 5px;
            color: white;
            font-size: 1rem;
            font-weight: bold;
            background-color: #FF6E85;
            border-color: transparent;
        }
    }
}

// CATEGORY.SCSS
/*-------CATEGORY LIST--------*/

.categoryListContainer {
    color: #FF6E86;
    font-weight: bold;
    padding: 0 16%;

    .categoryList {
        width: 100%;
        // display: grid;
        // grid-template-columns: auto auto auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 35px;
    }

    h1 {
        text-align: center;
        font-size: 3rem;
        padding: 6vh 4%;
    }
}

/*------CATEGORY ITEM------*/
.randomContainer {
    width: 276px;
    height: 300px;
}

.categoryItemContainer,
.randomContainer {
    background-color: #FF6E86;
    border-radius: 10px;
    color: white;
    text-align: center;
    transition: all 0.5s;

    h1 {
        padding: 3vh 0 1vh 0;
        font-size: 3rem;
        text-decoration: none;
    }

    img {
        padding: 20px 10px;
        width: 90%;
        height: 200px;
        object-fit: contain;
    }

    h3 {
        padding-top: 40%;
        font-size: 3.5rem;
    }

    &:hover {
        overflow: hidden;
        transition: all 0.4s;
        transform: scale(1.1);
        border-radius: 50%;
    }
}

// /-----MEALLIST & SEARCHLIST-----/
.mealListContainer,
.searchListContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 35px;

    h1 {
        padding: 20px 0px;
        width: 250px;
        margin: 0 auto;
        color: white;
        font-size: 25px;
        text-decoration: none;
    }
}

.mealItemContainer,
.searchItemContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FF6E86;
    border-radius: 10px;
    padding: 10px 40px;
    height: 470px;
    transition: all 0.4s;

    h1 {
        text-align: center;
        font-size: 2rem;
        height: 120px;
    }

    img {
        height: 30vh;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.393);
    }

    &:hover {
        transform: scale(1.05);
        transition: all 0.4s;
    }
}

.searchContainer,
.mealContainer {

    h1 {
        text-align: center;
        padding: 3vh 4%;
        font-size: 2.1rem;
        margin-bottom: 80px;
    }
}

/*-------DETAILLIST ----*/

.detailListContainer {
    margin: 0 10%;

    div {
        text-align: center;
        background-color: #FF6E86;
        color: white;
        border-radius: 10px;
        margin: 20px 20px;
        padding: 30px;

        img {
            width: 100%;
            padding: 20px;
            border-style: solid;
            border-color: #FFAC61;
        }

        h1 {
            padding: 30px 0;
            font-size: 35px;
        }

        .mealDescription {
            font-family: 'Roboto';
            margin: 0;
            padding: 0;
            text-align: left;


            span {
                margin-right: 4%;
            }
        }

        .descriptionContainer {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 30px;
            line-height: 2em;

            div:nth-of-type(1) {
                padding: 0;
                width: 50%;
            }

            div:nth-of-type(2) {
                padding: 0;
                width: 30%;

                button {
                    background-color: white;
                    color: #FF6E86;
                    margin: 40px;
                    padding: 10px;
                    font-weight: bold;
                    border-radius: 5px;
                    border-style: none;
                }

                .ingredientsDiv {
                    width: 100%;
                    margin: 0;
                    font-size: 1.1rem;
                    font-weight: 800;
                }
            }

            .instructionsList {
                text-align: left;


            }


        }
    }
}

/*-------FOOTER--------*/

.footerContainer {
    width: 100%;
    height: 20vh;
    padding-top: 60px;
    text-align: center;

    i {
        font-size: 35px;
        padding: 3px;
        color: grey;
        transition: all 0.4s ease-in-out;

        &:hover {
            transform: scale(1.3);
            transition: all 0.4s ease-in-out;
        }
    }

    .la-instagram:hover {
        color: #FF6E85;
    }

    .la-youtube:hover {
        color: #F22613;
    }

    .la-facebook-f:hover {
        color: #1F3A93;
    }

}

// MEDIA QUERY MEDIUM DISPLAY
@media only screen and (min-width: 576px) and (max-width: 992px) {
    .App {
        max-width: 992px;
    }

    .categoryListContainer {
        .categoryList {
            flex-wrap: nowrap;
            flex-direction: column;
        }
    }

    .randomContainer {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        h3 {
            padding: 0;
            font-size: 3rem;
        }
    }

    .mealContainer {
        .mealListContainer {
            // flex-wrap: nowrap;
            flex-direction: column;
            width: 70%;
            margin: 0 auto;
        }
    }

    .headerContainer {
        padding: 0;

        h1 {
            font-size: 2rem;
        }

        form {
            text-align: center;

            input[type=search] {
                min-width: 50%;
            }
        }
    }

    .detailListContainer {
        margin: 0;

        div {
            margin: 0;

            .descriptionContainer {
                margin: 0;
                padding: 0;
                flex-direction: column;
                text-align: center;

                div:nth-of-type(1) {
                    width: 100%;
                    text-align: left;
                }

                div:nth-of-type(2) {
                    width: 100%;
                    text-align: right;
                    padding: 0 50px 20px 0;

                    h1 {
                        text-align: right;
                    }

                    div {
                        text-align: right;
                        justify-content: right;
                        padding-bottom: 30px;
                    }

                    button {
                        margin: 0 auto;
                        width: 90%;
                    }
                }
            }
        }
    }
}


// MEDIA QUERY MOBILE DISPLAY
@media only screen and (min-width:350px) and (max-width: 576px) {

    * {
        box-sizing: border-box;
    }

    iframe {
        width: 100%;
    }

    .App {
        max-width: 576px;
        margin: 0;
        padding: 0;
    }

    .headerContainer {
        h1 {
            font-size: 2rem;
            padding: 2px 0;
        }

        form {
            text-align: center;

            input[type=search] {
                width: 90%;
                display: block;
            }
        }
    }

    .randomContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        border-radius: 0;

        h3 {
            padding: 0;
            font-size: 3rem;
        }
    }

    .categoryListContainer {
        padding: 0;

        .categoryList {
            display: block;

            .categoryItemContainer {
                border-radius: 0;
                width: 100%;
                height: 110%;
            }
        }
    }

    .searchContainer {
        .searchListContainer {
            display: block;

            .searchItemContainer {
                border-radius: 0;
                height: 110%;
            }
        }
    }

    .mealContainer {
        .mealListContainer {

            h1 {
                width: 90%;
            }

            // flex-wrap: nowrap;
            flex-direction: column;
            width: 100%;
            gap: 0;
            margin: 0 auto;

            .mealItemContainer {
                border-radius: 0;
            }
        }
    }

    .detailListContainer {
        margin: 0;

        div {
            margin: 0;
            border-radius: 0;

            .descriptionContainer {
                margin: 0;
                padding: 0;
                flex-direction: column;
                text-align: center;

                div:nth-of-type(1) {
                    width: 100%;
                    text-align: left;
                }

                div:nth-of-type(2) {
                    width: 100%;
                    text-align: right;
                    padding: 0 50px 20px 0;

                    h1 {
                        text-align: right;
                    }

                    div {
                        text-align: right;
                        justify-content: right;
                        padding-bottom: 30px;
                    }

                    button {
                        margin: 0 auto;
                        width: 90%;
                    }
                }
            }
        }
    }
}