* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    a,
    button {
        text-decoration: none;
        cursor: pointer;
    }

    img {
        border-radius: 10px;
    }
}

/*-------LightDark-----*/

.App {
    padding: 10px;

    button {
        background-color: #FF6E85;
        border-style: none;
        border-radius: 5px;
        width: 150px;
        color: white;
    }
}

/*-------HEADER--------*/

.headerContainer {
    text-align: center;
    padding: 40px;
    height: 55vh;
    // height: 40vh;
    width: 100%;

    img {
        transition: all 0.4s ease-in-out;
        &:hover{
            transform: scale(1.1);
            transition: all 0.4s ease-in-out;
        }
    }

    h1 {
        color: #FF6E86;
        // font-size: 30px;
        font-size: 3.5rem;
        padding: 10px;
    }

    form {

        input[type="search"] {
            // padding: 5px 5px;
            padding: 10px;
            margin: 20px;
            width: 300px;
            border-radius: 5px;
            color: #FF6E86;
            background-color: #FFAC614D;
            border-color: transparent;
        }

        button {
            // padding: 5px;
            padding: 10px;
            width: 100px;
            border-radius: 5px;
            color: white;
            font-size: 1rem;
            font-weight: bold;
            background-color: #FF6E85;
            border-color: transparent;
        }
    }
}

/*-------CATEGORY LIST--------*/

.categoryListContainer {
    color: #FF6E86;
    font-weight: bold;
    padding: 0 16%;


    .categoryList {
        width: 100%;
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: center;
        gap: 35px;
    }

    h1 {
        font-size: 2rem;
        padding: 4vh 4%;
    }
}

/*------CATEGORY ITEM------*/

.categoryItemContainer,
.randomContainer {
    background-color: #FF6E86;
    border-radius: 10px;
    color: white;
    height: 280px;
    text-align: center;
    transition: all 0.5s ;


    h1 {
        padding: 3vh 0 1vh 0;
        font-size: 2rem;
        text-decoration: none;
    }

    img {
        padding: 20px 10px;
        width: 90%;
        height: 200px;
        object-fit: contain;
    }

    h3 {
        padding-top: 40%;
        font-size: 2rem;
    }

    &:hover{
        overflow: hidden;
        transition: all 0.4s;
        transform: scale(1.1);
         border-radius: 50%;
    }
}



/*-----MEALLIST & SEARCHLIST-----*/

.mealListContainer,.searchListContainer{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    gap: 35px;

    h1 {
        padding: 20px 0px;
        width: 250px;
        color: white;
        font-size: 25px;
        text-decoration: none;
    }
}

.mealItemContainer ,.searchItemContainer {
    background-color: #FF6E86;
    border-radius: 10px;
    padding: 10px 60px;
    height: 500px;
    transition: all 0.4s;

    h1 {
        height: 110px;
    }

    img {
        height: 40vh;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.393);
    }

    &:hover{
        transform: scale(1.05);
        transition: all 0.4s;
    }
}

.searchContainer,.mealContainer{
    padding:0 17% ;
    
    h1{
        padding: 2vh 0;
    }
    
}

/*-------DETAILLIST ----*/

.detailListContainer{
    margin: 0 14%;

    div {
        text-align: center;
        background-color: #FF6E86;
        color: white;
        border-radius: 10px;
        margin: 20px 20px;
        padding: 30px;

        img {
            width: 100%;
            padding: 20px;
            border-style: solid;
            border-color: #FFAC61;
        }

        h1 {
            padding: 30px 0;
            font-size: 35px;
        }

        .instructionsList {
            text-align: left;
        }

        .descriptionContainer {
            display: grid;
            grid-template-columns: 60% 40%;
            gap: 30px;
            line-height: 2em;
         
            div{
            padding: 0;
            }
       
            button {
                background-color: white;
                color: #FF6E86;
                margin: 40px;
                padding: 10px;
                font-weight: bold;
                border-radius: 5px;
                border-style: none;
            }
        }

    }
}


/*-------FOOTER--------*/

.footerContainer {
    width: 100%;
    height: 20vh;
    padding-top: 60px;
    text-align: center;

    i {
        font-size: 35px;
        padding: 3px;
        color: grey;
    }
}